<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="./" viewEngine="Razor"
        moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="Geta.Optimizely.Tags" />
    </assemblies>

    <dojo>
        <packages>
            <add name="geta-tags" location="ClientResources" />
        </packages>
    </dojo>

    <clientResources>
      <add name="geta-tags-selection" path="ClientResources/TagsSelection.js" resourceType="Script" sortIndex="1" />
      <add name="geta-tags-styles" path="ClientResources/styles/tagify.css" resourceType="Style" sortIndex="1" />
      <add name="geta-tags-styles" path="ClientResources/styles/dragsort.css" resourceType="Style" sortIndex="2" />
    </clientResources>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
        <requiredResources>
            <add name="geta-tags-vendor" />
            <add name="geta-tags-styles" />
            <add name="geta-tags-selection" />
        </requiredResources>
    </clientModule>
</module>