/*
 * Icons
 */

.feather {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
}

/*
 * Navbar
 */

.geta-logo svg {
    width: 60px;
}

.geta-logo-prefix {
    color: white;
    font-size: 12px;
}

.version {
    color: white;
    font-size: 0.6em;
}

/*
 * Search
 */

.search-container {
    margin-top: 15px;
}

.search-container .search-button {
    width: 120px;
}
